<div class ="navbars" class="d-flex justify-content-around">
    <mat-toolbar class="toolbar d-flex justify-content-around">

      <div class="icon-trader">
        <img src="../assets/images/icon-trader.png">
      </div>

      <div>
        <a  mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="product()">
          <h1 class="h1">Products</h1>
        </a>
      </div>
      <div>
        <a mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="submit()">
          <h1 class="h1">
            Features
          </h1>
        </a >

      </div>
      <div>
        <a href="" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <h1 class="h1">
            Pricing
          </h1>
        </a>

      </div>
      <div>
        <a href="" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <h1 class="h1">
            Support
          </h1>
        </a>

      </div>

      <div>
        <h1 class="h2">+99895-094-03-03 </h1>
      </div>
      <div>
        <h1 class="h3">
          sarvar<span>&commat;</span>gmail.com
        </h1>
      </div>
      <div>
        <button class="button-border">

          Discuss the project

        </button>

      </div>
      <div>

      </div>

    </mat-toolbar>
  </div>