.icon-trader img{
    width: 100px !important;
}

.navbars{
    border-radius: 60px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
}

.h1{
    color: #CECECE;
    font-size: 14px;

}

.button-border{
    border-radius: 20px;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #3E3E3E;
    border :1px solid rgb(23, 165, 197);
    color:#CECECE;


}

.toolbar{
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    margin-top: 20px;
    border-radius: 50px;
    width: 90%;
}


.h2{
    color: #CECECE;
    font-size: 14px;
    margin-top: 11px;
    margin-left: 20px;

}

.h3{
    color: #CECECE;
    font-size: 14px;
    margin-top: 11px;

}