.div-asosiy{
    background: #0D0D0D;
    height: 1500px;
}

.home{
    margin-left: 200px;
    margin-top: 130px;
    color: #FFF;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
}

.contact{
    color: #FFF;
    font-family: Gilroy;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 200px;
    margin-top: 20px;
}


.h3{
    color: #E1E1E1;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 600px;
    
    text-transform: uppercase;
}





.h4{
    color: #E1E1E1;
    font-size: 16px;
    font-weight: 600px;
    line-height: 24px; /* 150% */
}

.Telegram{
    width: 30px !important;
    height: 30px !important;
}

.Telegram1{
    width: 30px !important;
    height: 30px !important;
    margin-left: 20px;
}

.icon-brauser{
    margin-left: 200px;
}

.mapss{
    margin-left: 700px;
    margin-top: -710px;
}

.image-maps{
    max-width: 500px;
    height: 500px;
    border-radius:10px;
}

.h6{
    color: #888;
    margin-top: 50px;
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}

hr{
    margin-left: 200px;
    margin-right: 200px;
    height: 2px;
    flex-shrink: 0;
    background: #a7a5a5;
}

.hr12{
    margin-top: 50px;
    margin-left: 5px !important;
    margin-right: 900px;
    height: 2px !important;
    flex-shrink: 0 !important;
    background: #a7a5a5 !important; 
}

.still{
    color: #FFF;
    font-family: Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    width: 375px;
}

.lorems{
    margin-top: 30px;
    color: #FFF;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
    width: 313px;
}



.button2{
    margin-top: 50px;
    margin-left: 60px;
    border-radius: 10px; 
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding: 10px 30px;
    color: white;
    background: transparent;
    border :3px solid rgb(54, 53, 53);
    
    width: 400px;
    height: 70px;

}


.button3{color: white;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 60px;
    border-radius: 10px; 
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding: 10px 30px;
    color: white;
    background: transparent;
    border :3px solid rgb(54, 53, 53);
    color: white;
    font-size: 20px;
    width: 400px;
    height: 70px;
}

.button4{
    margin-top: 10px;
    margin-left: 60px;
    border-radius: 10px; 
    padding-left: 20px;
    padding-right: 20px;
    padding: 10px 30px;
    color: white;
    background: transparent;
    border :3px solid rgb(54, 53, 53);
    color: white;
    font-size: 20px;
    width: 400px;
    height: 100px;
}

.file{
    color: #FFF;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 60px;
    margin-top: 30px;
}


.Calculate{
    display: inline-flex;
    padding: 21px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 7px;
    background: linear-gradient(94deg, #6DDCFF -74.85%, #7F60F9 197.71%);
    color: #FFF;
    text-align: center;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 200px;
    margin-left: 60px;
    margin-top: 40px;
}

.file1{
    color: #FFF;
    font-family: Gilroy;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.3;
    text-decoration-line: underline;
    margin-left: 300px;
    margin-top: -50px;
}


.registr-dev{
    margin-left: -70px;
}


.companys{
    width: 375px;
    color: #FFF;
    margin-left: 200px;
    margin-top: 50px;
    font-family: Gilroy;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.para{
    margin-left: 200px;
    margin-top: 30px;
    color: #FFF;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 323px;
    opacity: 0.5;
}

.para-div{
    margin-left: 400px;
    margin-top: -335px;
}