<div class="div-asosiy">
    <app-navbar></app-navbar>

    <h1 class="home">Home - Contacts</h1>

    <h1 class="contact">Contacts</h1>

    <hr>
    <div class="icon-brauser">
        <h1 class="h3">{{data.phoneNumber}}</h1>
        <h1 class="h4">{{data.email}}</h1>
        <a href="https://t.me/murodovich_n1"><img class="Telegram" src="../../../assets/images/telegram.png"></a>
        <a href="https://www.instagram.com/murodovich_n1/"><img class="Telegram1" src="../../../assets/images/instagram (1).png"></a>
        <a href="https://www.linkedin.com/in/murodovich/"><img class="Telegram1" src="../../../assets/images/linkedin.png"></a>

        <hr class="hr12">

        <h1 class="still">Still have questions?</h1>
        <h1 class="lorems">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
    
    <div class="registr-dev">
        
        <div class="search-div">
            <input class="button2" placeholder="YOUR NAME">
        </div>

        <div class="search-div">
            <input class="button3" placeholder="+998(95)-094-03-03">
        </div>

        <div class="search-div">
            <input class="button4" placeholder="YOUR QUESTIONS">
        </div>

        <div>
            <button class="Calculate">CALL ME BACK</button>
        </div>

        <div>
            <h2 class="file1">
                By clicking on the button, you <br> accept the terms of personal data <br> processing
            </h2>
        </div>

        
    </div>
    </div>



    <div class="mapss">
        <h1 class="h6">Main office</h1>
        <h1 class="h4">{{data.city}}</h1>
        <a href="https://www.google.com/maps/place/%D0%A8%D0%B0%D1%85%D1%80%D0%B8%D1%81%D1%82%D0%BE%D0%BD+(%D0%B1%D1%8B%D0%B2%D1%88.
            +%D0%A5%D0%B0%D0%B1%D0%B8%D0%B1+%D0%90%D0%B1%D0%B4%D1%83%D0%BB%D0%B
            B%D0%B0%D0%B5%D0%B2)/@41.3530873,69.2827912,16.41z/data=!4m6!3m5!1
            s0x38aef3532bfc9f13:0x7d08b465abb8d658!8m2!3d41.353097!4d69.28806
            7!16s%2Fm%2F0jz_gbk?entry=ttu"><img class="image-maps" src="../../../assets/images/maps.jpg">
        </a>
        
    </div>

    <br>
    <br>
    <br>
    <br>
    <hr>
    <h1 class="companys">Company details</h1>
    <div>
        <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

    </div>

    <div class="para-div">
        <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

    </div>


</div>

<app-footers></app-footers>

