<br>
<hr>
<img class="bir-1" src="../assets/images/photo_2024-01-15_13-35-05-removebg-preview.png">
<br>
<br>

<div>

    <div>
      <h1 class="Find">#WE IMPLEMENT <br>
        PROJECT <span class="solution">IN ALL <br>
        REGIONS </span> <span class="russia-1">RUSSIA</span>
      </h1>
    </div>

    <div>
      <img class="russiya-map" src="https://cdn.pixabay.com/photo/2015/04/09/17/00/russia-714779_960_720.png">
      <img class="location-1" src="../../assets/images/placeholder.png">
      <img class="location-2" src="../../assets/images/placeholder.png">
      <img class="location-3" src="../../assets/images/placeholder.png">
      <img class="location-4" src="../../assets/images/placeholder.png"> 
      <img class="location-5" src="../../assets/images/placeholder.png"> 
      <img class="location-6" src="../../assets/images/placeholder.png">  
      <img class="location-7" src="../../assets/images/placeholder.png"> 
    </div>

    <div>
        <a href=""><button class="button-1">14 <span class="text">regions projects implemented</span> </button></a>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


        
        
</div>