.company-div{
    background: #0D0D0D;
    height: 1500px;
}


.homes{
    color: #FFF;
font-family: Gilroy;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
opacity: 0.5;
width: 511px;
}

.divsev{
    margin-left: 200px;
    margin-top:200px
}