.images{
    width: 100% !important;
    
}

.navbar1{
    margin-top: -100px !important;
}

.main-main{
    width: 100%;
    height: 4300px;
    
    
}


hr{
    margin-top: 70px;
    margin-right: 200px;
    height: 2px;
    flex-shrink: 0;
    background: #a7a5a5;
}


.main-divs{
    width: 100%;
    background-size: cover;
    margin-top: -570px;
    background-color: #0D0D0D !important;
    height: 100%;
}

.button1{
    padding: 15px 20px;
    align-items: center;
    gap: 20px;
    border-radius: 60px;
    border: 3px solid #686464;
    background: transparent;
    margin-top: 300px;
    margin-left:250px;
    color: #b1adad;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}

.button2{
    padding: 15px 20px;
    align-items: center;
    gap: 20px;
    border-radius: 60px;
    border: 3px solid #686464;
    background: transparent;
    margin-top: 300px;
    margin-left:50px;
    color: #b1adad;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}

.div-text{

    margin-left: 200px;
    margin-top: 70px;
    


}

.texts{
    color: #FFF;
    font-family: Gilroy;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    opacity: 0,5;

}

.parag{
    color: #3a3838;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    
    line-height: normal;
    margin: 0;
}

.div-parag{
    width: 453px;
    height: 57px;
    margin-left: 220px;
}

.keys{
    color: #5E5E5E;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.6px;
    text-transform: lowercase;
}


.keys-dev{
    margin-left: 200px;
    margin-top: 50px;
}


.h11{
    color: #FFF;
    font-family: Gilroy;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px; /* 120.833% */
}


.paragh{
    width: 270px;
    color: var(--gray-400, #A1A1AA);
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

.margins{
    margin-left: 300px;
    margin-top: -140px;
}

.margins1{
    margin-left: 600px;
    margin-top: -140px;
}

.margins2{
    margin-left: 900px;
    margin-top: -140px;
}

.finds{
    color: #FFF;
    margin-top: 100px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    text-decoration-line: underline ;
}

.projects{
    color: #5E5E5E;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.6px;
    text-transform: lowercase;
}

.text3{
    margin-left: 200px;
    margin-top: 50px;
}


.circle{
    width: 23px;
    height: 23px;
    flex-shrink: 0;
    stroke-width: 2px;
    stroke: #232323;
    margin-left: 1100px;
    margin-top: -90px;
}

.raqam{
    color: #AFAFAF;
    font-family: Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #686464;
    margin-top: -10px;
}

.Task{
    color: #D9D9D9;
    font-family: Gilroy;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 66px; /* 110% */
    text-transform: uppercase;
    width: 286px;

}

.paragasssa{
    color: #FFF;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 780px;
    opacity: 0.5;

}

.div-asos{
    margin-left: 200px;
}

.div-border{
    border-radius: 20px;
    border: 2px solid #2D2D2D;
    width: 1200px;
    height: 298px;
    
    margin-left: 200px;
}


.hr1{
    margin-top: 40px;
    margin-right: 50px;
    margin-left: 50px;
    height: 2px;
    flex-shrink: 0;
    background: #a7a5a5;
}


.paragasssa1{
    color: #FFF;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 780px;
    opacity: 0.5;
    margin-left: 50px;
}


.Task1{
    color: #D9D9D9;
    font-family: Gilroy;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 66px; /* 110% */
    text-transform: uppercase;
    width: 286px;
    background: var(--Linear, linear-gradient(98deg, #6DDCFF 0%, #7F60F9 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 50px;

}


.raqam1{
    color: #AFAFAF;
    font-family: Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #686464;
    margin-top: -10px;
    margin-left: 50px;
}

.registr-page{
    margin-top: 100px;
}

.div-asos1{
    margin-left: 200px;
    margin-top: 150px;
}


.similar{
    color: #FFF;
    font-family: Gilroy;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 66px; /* 110% */
    text-transform: uppercase;
    width: 924px;
}

.imagesstyle{

    width: 400px !important;
    height: 300px !important;
    flex-shrink: 0;
}

.sector{
    color: #FFF;
    font-family: Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 30px;
}

.images-3{
    margin-left: 200px;
}



.iphone{
    color: white;
    margin-left: 10px;
    margin-top: 10px;
}

.tepaga{
    width: 30px !important;
    margin-left: 350px;
}

.ipsum{
    color: #FFF;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 392px;
    
}

.photos{
    margin-left: 610px;
    margin-top: -510px;
}

