<div class="main-main">
    <img class="images" src="../../../assets/images/Rectangle 67.png">
    <div class="main-divs">
        <app-navbar></app-navbar>

        <button class="button1">Situation center</button>
        <button class="button2">Financial sector</button>
        
        <div class="div-text">
            <h1 class="texts">The name of the <br> integration project is here</h1>
        </div>
        <div class="div-parag">
            <h1 class="parag">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
               sed do eiusmod tempor incididunt ut labore et 
               dolore magna aliqua. Ut enim ad minim veniam
            </h1>
        </div>


        <div class="keys-dev">
            <h1 class="keys">#key figures of the project</h1>

            <div>
                <h1 class="h11">$11M+</h1>
                <p class="paragh">Lorem ipsum dolor sit amet, consec tetur adipiscing elit ges aliquam.</p>
            </div>

            <div class="margins">
                <h1 class="h11">79.14%</h1>
                <p class="paragh">Lorem ipsum dolor sit amet, consec tetur adipiscing elit ges aliquam.</p>
            </div>

            <div class="margins1">
                <h1 class="h11">$299/y</h1>
                <p class="paragh">Lorem ipsum dolor sit amet, consec tetur adipiscing elit ges aliquam.</p>
            </div>

            <div class="margins2">
                <h1 class="h11">34k+</h1>
                <p class="paragh">Lorem ipsum dolor sit amet, consec tetur adipiscing elit ges aliquam.</p>
            </div>

            <h1 class="finds">Find out more about the project</h1>
        </div>

        <div class="text3">
            <h1 class="projects">#Project Gallery</h1>
        </div>

        <div>
            <img class="images" src="../../../assets/images/Rectangle 67 (1).png">
        </div>

        <div class="div-asos">
        <hr>
        <h1 class="raqam">01</h1>
        <svg class="circle" xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none">
            <circle cx="11.5" cy="11.5" r="10.5" stroke="#AFAFAF" stroke-width="2"/>
          </svg>

            <h1 class="Task">Task</h1>
            <p class="paragasssa">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna 
                aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet, 
                consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. Ut enim ad minim veniam
            </p>
        </div>


        <div class="div-asos">
            <hr>
            <h1 class="raqam">02</h1>
            <svg class="circle" xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none">
                <circle cx="11.5" cy="11.5" r="10.5" stroke="#AFAFAF" stroke-width="2"/>
              </svg>
    
                <h1 class="Task">solution</h1>
                <p class="paragasssa">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna 
                    aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet, 
                    consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam
                </p>
        </div>

        <div class="div-border">
            <hr  class="hr1">
            <h1 class="raqam1">03</h1>
            <svg class="circle" xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none">
                <circle cx="11.5" cy="11.5" r="10.5" stroke="#AFAFAF" stroke-width="2"/>
              </svg>
    
                <h1 class="Task1">solution</h1>
                <p class="paragasssa1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna 
                    aliqua. Ut enim ad minim veniam. Lorem ipsum dolor sit amet, 
                    consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua. Ut enim ad minim veniam
                </p>
        </div>
        <div class="registr-page">
            <app-registr></app-registr>
        </div>

        <div class="div-asos1">
            <hr>
            <h1 class="raqam">05</h1>
            <svg class="circle" xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23" fill="none">
                <circle cx="11.5" cy="11.5" r="10.5" stroke="#AFAFAF" stroke-width="2"/>
              </svg>

            <h1 class="similar">see similar projects</h1>
            <div>
                <img class="imagestyle" src="{{data.imagePath | piprs}}">
                <h1 class="iphone">{{data.name}}<a href=""><img class="tepaga" src="../assets/images/photo_2024-01-15_11-40-22-removebg-preview.png"></a></h1>
                  
                <h1 class="ipsum">{{data.description}}</h1>
            </div>


            <div class="photos">
                <img class="imagestyle" src="../../../assets/images/Rectangle 67 (3).png">
                <h1 class="iphone">Government agencies<a href=""><img class="tepaga" src="../assets/images/photo_2024-01-15_11-40-22-removebg-preview.png"></a></h1>
                  
                <h1 class="ipsum">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</h1>
            </div>
          </div>
        
        </div>

        <div class="images-3">
            
    </div>
    <app-footers></app-footers>
    
</div>



