<div class="main-div">
   
        <app-navbar></app-navbar>

        <h1 class="project"> <span class="spans">#</span> Projects</h1>

        <p class="paragr">Lorem ipsum dolor sit amet, consectetur adipiscing 
            elit, sed do eiusmod tempor incididunt ut labore et 
            dolore magna aliqua. Ut enim ad minim veniam. 
            Lorem ipsum dolor sit amet
        </p>

        <div class="funnels">
            <img src="../../../assets/images/Funnel.png">
            <h1 class="filter">Filter by projects</h1>
            <button class="button1">Situation center <a href=""><img src="../../../assets/images/Expand Arrow.png"></a> </button>
            <button class="buttons">Corporate sector <a href=""><img src="../../../assets/images/Expand Arrow.png"></a> </button>
        </div>
        
        <div class="div-asos1">
            <hr>

            <h1 class="listproj">list of projects</h1>
            <div>
                <img class="imagestyle" src="../../../assets/images/Rectangle 67 (2).png">
                <h1 class="iphone">Corporate sector<a href=""><img class="tepaga" src="../assets/images/photo_2024-01-15_11-40-22-removebg-preview.png"></a></h1>
                  
                <h1 class="ipsum">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</h1>
            </div>


            <div class="photos">
                <img class="imagestyle" src="../../../assets/images/Rectangle 67 (3).png">
                <h1 class="iphone">Government agencies<a href=""><img class="tepaga" src="../assets/images/photo_2024-01-15_11-40-22-removebg-preview.png"></a></h1>
                  
                <h1 class="ipsum">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</h1>
            </div>

            <hr>
            <br>
            <div>
                <img class="imagestyle" src="../../../assets/images/Rectangle 67 (4).png">
                <h1 class="iphone">Corporate sector<a href=""><img class="tepaga" src="../assets/images/photo_2024-01-15_11-40-22-removebg-preview.png"></a></h1>
                  
                <h1 class="ipsum">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</h1>
            </div>


            <div class="photos">
                <img class="imagestyle" src="../../../assets/images/Rectangle 67 (5).png">
                <h1 class="iphone">Government agencies<a href=""><img class="tepaga" src="../assets/images/photo_2024-01-15_11-40-22-removebg-preview.png"></a></h1>
                  
                <h1 class="ipsum">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</h1>
            </div>
            <hr>
            <br>
            <div>
                <img class="imagestyle" src="../../../assets/images/Rectangle 67 (6).png">
                <h1 class="iphone">Corporate sector<a href=""><img class="tepaga" src="../assets/images/photo_2024-01-15_11-40-22-removebg-preview.png"></a></h1>
                  
                <h1 class="ipsum">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</h1>
            </div>


            <div class="photos">
                <img class="imagestyle" src="../../../assets/images/Rectangle 67 (7).png">
                <h1 class="iphone">Government agencies<a href=""><img class="tepaga" src="../assets/images/photo_2024-01-15_11-40-22-removebg-preview.png"></a></h1>
                  
                <h1 class="ipsum">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</h1>
            </div>
            <hr>
            <br>
            <div>
                <img class="imagestyle" src="../../../assets/images/Rectangle 67 (8).png">
                <h1 class="iphone">Corporate sector<a href=""><img class="tepaga" src="../assets/images/photo_2024-01-15_11-40-22-removebg-preview.png"></a></h1>
                  
                <h1 class="ipsum">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</h1>
            </div>


            <div class="photos">
                <img class="imagestyle" src="../../../assets/images/Rectangle 67 (9).png">
                <h1 class="iphone">Government agencies<a href=""><img class="tepaga" src="../assets/images/photo_2024-01-15_11-40-22-removebg-preview.png"></a></h1>
                  
                <h1 class="ipsum">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</h1>
            </div>
            <hr>
            <br>
            <div>
                <img class="imagestyle" src="../../../assets/images/Rectangle 67 (10).png">
                <h1 class="iphone">Corporate sector<a href=""><img class="tepaga" src="../assets/images/photo_2024-01-15_11-40-22-removebg-preview.png"></a></h1>
                  
                <h1 class="ipsum">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</h1>
            </div>


            <div class="photos">
                <img class="imagestyle" src="../../../assets/images/Rectangle 67 (11).png">
                <h1 class="iphone">Government agencies<a href=""><img class="tepaga" src="../assets/images/photo_2024-01-15_11-40-22-removebg-preview.png"></a></h1>
                  
                <h1 class="ipsum">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</h1>
            </div>
            <hr>
            <br>
            <div>
                <img class="imagestyle" src="../../../assets/images/Rectangle 67 (12).png">
                <h1 class="iphone">Corporate sector<a href=""><img class="tepaga" src="../assets/images/photo_2024-01-15_11-40-22-removebg-preview.png"></a></h1>
                  
                <h1 class="ipsum">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</h1>
            </div>


            <div class="photos">
                <img class="imagestyle" src="../../../assets/images/Rectangle 67 (13).png">
                <h1 class="iphone">Government agencies<a href=""><img class="tepaga" src="../assets/images/photo_2024-01-15_11-40-22-removebg-preview.png"></a></h1>
                  
                <h1 class="ipsum">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</h1>
            </div>
        </div>
        

        <app-footers></app-footers>
        
        
</div>
