.main-div{
    width: 100%;
    height: 5000px;
    background-color: #0D0D0D;;
}

.navbar{
    width: 100% !important;
    height: 100% !important;
}

.spans{
    
    color: #323232;
    font-family: Gilroy;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.project{
    width: 911px;
    margin-left: 200px;
    margin-top: 100px;
    color: #FFF;
    font-family: Gilroy;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.paragr{
    margin-top: 50px;
    margin-left: 200px;
    color: #FFF;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.6;
    width: 600px;
}

.funnels{
    margin-left: 200px;
    margin-top: 50px;
}

.filter{
    color: #FFF;
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-left: 40px;
    margin-top: -23px;
}

.button1{
    padding: 15px 20px;
    align-items: center;
    gap: 20px;
    border-radius: 60px;
    border: 3px solid #686464;
    background: transparent;
    color: #b1adad;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}

.buttons{
    margin-left: 20px !important;
    padding: 15px 20px;
    align-items: center;
    gap: 20px;
    border-radius: 60px;
    border: 3px solid #686464;
    background: transparent;
    color: #b1adad;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.div-asos1{
    margin-left: 200px;
    margin-top: 150px;
}


.imagesstyle{

    width: 400px !important;
    height: 300px !important;
    flex-shrink: 0;
}

.sector{
    color: #FFF;
    font-family: Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 30px;
}

.images-3{
    margin-left: 200px;
}



.iphone{
    color: white;
    margin-left: 10px;
    margin-top: 10px;
}

.tepaga{
    width: 30px !important;
    margin-left: 350px;
}

.ipsum{
    color: #FFF;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 392px;
    
}

.photos{
    margin-left: 610px;
    margin-top: -510px;
}

hr{
    margin-top: 100px !important;
    margin-right: 200px;
    height: 2px;
    flex-shrink: 0;
    background: #a7a5a5;
}


.listproj{
    margin-top: 40px;
    color: #AFAFAF;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

