.example-spacer {
    flex: 1 1 auto;
  }

.toolbar{
    background-color: #3E3E3E;
    margin-top: 20px;
    border-radius: 30px;
    width: 90%;
}
.icon-trader img{
    width: 100px ;
}
.h1{
    color: #CECECE;
    font-size: 14px;

}

.main-div{
    background-image: url("../assets/images/photo_2024-01-10_15-09-00.jpg");
}