.example-spacer {
    flex: 1 1 auto;
  }





.main-div{
    margin-top: -900px;
    padding: 0;
    background-size: cover;
    width: 100%;
    background-color: #0D0D0D;
}

.main-main img{
    width: 100%;
}

.h-tag{
    margin-top: 150px;
    margin-left: 200px;
    color: white;
}
.h1-tag{
    margin-top: 20px;
    margin-left: 200px;
    font-size: 42px;
    color: white;
}
.button-border{
    border-radius: 20px;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #3E3E3E;
    border :1px solid rgb(23, 165, 197);
    color:#CECECE;


}
.h3-tag{
    margin-top: 20px;
    margin-left: 200px;
    color:#CECECE;

}

.button1{
    margin-top: 20px;
    border-radius: 20px;
    margin-left: 200px;   
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding: 10px 30px;
    background-image: linear-gradient(to right top, #6ed3fd, #3bbfff, #23a8ff, #4c8dff, #7d6bf9) ;
    border :1px solid rgb(23, 165, 197);
    color:white;
}
.button2{
    margin-top: 10px;
    border-radius: 20px; 
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding: 10px 30px;
    background: transparent;
    border :1px solid rgb(54, 53, 53);
    color: rgb(54, 53, 53);

}

.button2 img{
    
    width: 40px !important;

}
.next-icon{
    margin-top: 20px;
    margin-left: 220px;

    width: 30px !important;

}

.next-icon2{
    margin-top: 20px;
    margin-left: 10px;
    width: 30px !important;

}


::placeholder{
    color: #3E3E3E;
    opacity: 1;
}

.icon-search{
    margin-left: 50px;
    margin-right: -20px;
    width: 15px !important;
    margin-bottom: 5px;

}

.search-div{

    display: inline;
}

.bir{
    margin-top: 50px;
    margin-left: 200px;
    width: 25px !important;
}

hr{
    border-top: 4px solid rgb(66, 63, 63);
    margin-left: 200px;
    margin-right: 200px;
    height: 2px;
}

.h-tag3{

    margin-left: 200px;
    color: rgb(145, 144, 144);
}

.back-text{

    color: blue;

}

.from{
    
    font-style: normal;
    color:#848484;
  

}

.h-lorem{
    margin-left: 200px;
    color: rgb(113, 111, 111);
}

.moshni{
    width: 400px;
    height: 220px;
    margin-left: 500px;
    border-radius: 10px;
    margin-top: -100px;
    border :3px solid #2B2B2B;
}

.nolbir{
    width: 150px !important;
    margin-left: 220px;

}

.audit{
    color: white !important;
    margin-top: 20px;
    padding-left: 30px !important;


}


.auidit-next{
    color:#848484;
    margin-left: 30px;
}


.moshni-1{
    width: 400px !important;
    height: 220px !important;
    margin-left: 910px;
    border-radius: 10px;
    margin-top: -220px;
    background-color: #1c1b1b;
}

.federal{
    color: white !important;
    margin-left: 20px;
    margin-top: -30px !important;  
    
}

.federal-item{
    margin-top: 20px;
    color: #848484;
    margin-left: 20px;
}

.uch{
    width: 130px !important;
    margin-left: 230px;
    margin-top: -400px;
}


.moshni-2{
    width: 360px !important;
    height: 220px !important;
    margin-left: 200px;
    margin-bottom: 20px;
    border-radius: 10px;
    margin-top: 50px;
    background-color: #1c1b1b;
}

.moshni-3{
    width: 360px;
    height: 220px;
    margin-left: 575px;
    border-radius: 10px;
    margin-top: -240px;
    border :3px solid #2B2B2B;
}

.nolbir-1{
    width: 150px !important;
    margin-left: 200px;

}

.moshni-4{
    width: 360px !important;
    height: 220px !important;
    margin-left: 950px;
    margin-bottom: 20px;
    border-radius: 10px;
    margin-top: -220px;
    background-image: linear-gradient(to right top, #6ed3fd, #3bbfff, #23a8ff, #4c8dff, #7d6bf9) ;
}

.ikki{
    margin-left: 200px;
    width: 25px !important;
}

.ikki-img{

    width: 100%;
    margin-left: 20px !important;
    margin-top: -40px !important;


}


.Find{
    color: white !important;
    margin-left: 200px !important;
    font-size: 60px;
    line-height: 65px;

}

.solution{
    color:#4c8dff;
}

.img-12{
    width: 350px !important;
    height: 350px !important;
    border-radius: 10px;
}

.imagesuse{
    margin-left: 540px;
    margin-top: -205px;
}

.iphone{
    color: white;
    margin-left: 10px;
    margin-top: 10px;
}

.tepaga{
    width: 30px !important;
    margin-left: 120px;
}

.imagess{
    margin-left: 930px !important;
    margin-top: -410px;
}

.images-3{
    margin-left: 200px;
}

.images-4{
    margin-left: 570px;
    margin-top: -410px;
}

.image-5{
    width: 300px;
    height: 400px;
    margin-left: 950px;
    margin-top: -410px;
    border :3px solid #2B2B2B;
    border-radius: 20px;

}


.iphone-1{
    color: white;
    margin-left: 20px;
    margin-top: 360px;
}

.bir-1{
    margin-left: 200px;
    width: 35px !important;

}

.russia{
    color: white;
    margin-left: 200px;
}

.russia-1{
    color: #3E3E3E;
}

.russiya-map{
    width: 800px !important;
    margin-left: 670px;
    margin-top: -230px;
    height: 400px;
}