.example-spacer {
    flex: 1 1 auto;
  }

.toolbar{
    background-color: #3E3E3E;
    margin-top: 20px;
    border-radius: 30px;
    width: 90%;
}
.icon-trader img{
    width: 100px !important;
}
.h1{
    color: #CECECE;
    font-size: 14px;

}

.main-div{
    margin-top: -900px;
    padding: 0;
    background-size: cover;
    width: 100%;
    background-color: #0D0D0D;
}

.main-main img{
    width: 100%;
}

.h-tag{
    margin-top: 150px;
    margin-left: 200px;
    color: white;
}
.h1-tag{
    margin-top: 20px;
    margin-left: 200px;
    font-size: 42px;
    color: white;
}
.button-border{
    border-radius: 20px;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #3E3E3E;
    border :1px solid rgb(23, 165, 197);
    color:#CECECE;


}
.h3-tag{
    margin-top: 20px;
    margin-left: 200px;
    color:#CECECE;

}