<div class="main-main">
  <img src="../assets/images/Main-Main.jpg">
  <div class="main-div">
    <app-navbar></app-navbar>

    <div>
      <div>
        <h2 class="h-tag">
          SYSTEM INTEGRATOR OF MULTIMEDIA SOLUTIONS
        </h2>
      </div>

      <div>
        <h1 class="h1-tag">
          IMPLEMENTATION OF MULTIMEDIA <br><br>
          REVIEW FOR CONFERENCES <br><br>
          HALLS
        </h1>
      </div>

      <div>
        <h3 class="h3-tag">
          Comprehensive equipment for conference rooms , situation <br>
          centers, meeting rooms, training centers, etc.
        </h3>
      </div>

      
      <div>
        <button class="button1">

          Discuss the project

        </button>


        


        <div class="search-div">
          <img class="icon-search" src="../assets/images/search-interface-symbol-removebg-preview.png">
          <input class="button2" placeholder="Search">
        </div>


      </div>


    </div>

    <a href="">

      <img class="next-icon" src="../assets/images/back-page-removebg-preview.png">
    </a>
    <a href="">
      <img class="next-icon2" src="../assets/images/nextpage-icon-removebg-preview.png">
    </a>
    <hr>
    <br>
    <br>
    <br>
    <hr>

    <div style="height: 100%;">


      <div>
        <img class="bir" src="../assets/images/nol.jpg">

        <h3 class="h-tag3"> How we are working</h3>

        <h1 class="h1-tag">
          #4  SIMPLE STEPS <br> <br>
          <span class="from">FROM CALCULATION   </span>  <span class="back-text"> TO IMPLEMENTATION</span> 
        </h1>
        <br>

        <div class="h-lorem">
          Lorem ipsum dolor sit amet  <br> 
          adipisicing elit. Temporibus nemo atque <br>
          repudiandae culpa inventore eum <br>
          id ipsam aut illum, velit error <br>
          dolor nobis!
        </div>
        <div>

          <div  class="moshni">
            <img class="nolbir" src="../assets/images/Screenshot_2024-01-12_175419-removebg-preview.png">
            
            <h1 class="audit">
              Audit first            
            </h1>
            <h1 class="auidit-next"> We follow the customer's needs</h1>
          </div>
          
          <div class="moshni-1">
            
            <h1 class="federal">
              <br><br><br>Experience of federal <br> projects
            </h1>
            <h1 class="federal-item"> Double growtg projects team</h1>
            <img class="uch" src="../assets/images/photo_2024-01-13_12-28-45-removebg-preview.png" >
            
          </div>
          
          <div class="moshni-2">

            <h1 class="federal">
              <br><br><br>Experience of federal <br> projects
            </h1>
            <h1 class="federal-item"> Double growtg projects team</h1>
            <img class="uch" src="../assets/images/photo_2024-01-13_13-51-13-removebg-preview.png" >
            
          </div>

          <div  class="moshni-3">
            <img class="nolbir-1" src="../assets/images/photo_2024-01-13_13-56-58-removebg-preview.png">
            
            <h1 class="audit">
              Audit first            
            </h1>
            <h1 class="auidit-next"> We follow the customer's</h1>
          </div>


          <div class="moshni-4">

            <h1 class="federal">
              <br><br><br>Experience of federal <br> projects
            </h1>
            <h1 class="federal-item"> Double growtg projects</h1>
            <img class="uch" src="../assets/images/photo_2024-01-13_14-13-55-PhotoRoom.png-PhotoRoom.png" >
            
          </div>

          <br>
          <br>
          <br>
          <app-solutions></app-solutions>

          <br>
          <br>
          <br>        

        <app-russia></app-russia>
        
        <app-registr></app-registr>
          
        </div>
    </div>
  </div>
</div>


