<div class="main-main">
  <img src="../assets/images/Main-Main.jpg">
    <div class="main-div">
      <div class="d-flex justify-content-around">
        <mat-toolbar class ="toolbar d-flex justify-content-around">
          
          <div class="icon-trader">
          <img src="../assets/images/icon-trader.png">
        </div>
        
        <div>
          <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <h1 class="h1">Products</h1>
          </button>
        </div>
        <div>
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <h1 class="h1">
              Features
            </h1>
          </button>
          
        </div>
        <div>
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <h1 class="h1">
              Pricing
            </h1>
          </button>
          
        </div>
        <div>
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <h1 class="h1">
              Support
            </h1>
          </button>
        
        </div>
        
        <div>
          <h1 class="h1">+99895-094-03-03  </h1>    
        </div>
      </mat-toolbar>
    </div> 

    <div>
      <h2 class="h-tag">
        SYSTEM INTEGRATOR OF MULTIMEDIA SOLUTIONS
      </h2>      
      <h1 class="h1-tag">
        IMPLEMENTATION OF MULTIMEDIA <br>
        REVIEW FOR CONFERENCES <br>
        HALLS

      </h1>
    </div>
    <div style="height: 500px;">

      
    </div>
  </div>
</div>