
<div class="raqam">
    <hr>
    <img class="bir" src="../../../assets/images/nol.jpg">

      <h3 class="h-tag3"> How we are working</h3>

      <h1 class="h1-tag">
        #4  SIMPLE STEPS <br> <br>
        <span class="from">FROM CALCULATION   </span>  <span class="back-text"> TO IMPLEMENTATION</span> 
      </h1>
      <br>

      <div class="h-lorem">
        Lorem ipsum dolor sit amet  <br> 
        adipisicing elit. Temporibus nemo atque <br>
        repudiandae culpa inventore eum <br>
        id ipsam aut illum, velit error <br>
        dolor nobis!
      </div>
      <div>

        <div  class="moshni">
          <img class="nolbir" src="../../../assets/images/Screenshot_2024-01-12_175419-removebg-preview.png">
          
          <h1 class="audit">
            Audit first            
          </h1>
          <h1 class="auidit-next"> We follow the customer's needs</h1>
        </div>
        
        <div class="moshni-1">
          
          <h1 class="federal">
            <br><br><br>Experience of federal <br> projects
          </h1>
          <h1 class="federal-item"> Double growtg projects team</h1>
          <img class="uch" src="../../../assets/images/photo_2024-01-13_12-28-45-removebg-preview.png" >
          
        </div>
        
        <div class="moshni-2">

          <h1 class="federal">
            <br><br><br>Experience of federal <br> projects
          </h1>
          <h1 class="federal-item"> Double growtg projects team</h1>
          <img class="uch" src="../../../assets/images/photo_2024-01-13_13-51-13-removebg-preview.png" >
          
        </div>

        <div  class="moshni-3">
          <img class="nolbir-1" src="../../../assets/images/photo_2024-01-13_13-56-58-removebg-preview.png">
          
          <h1 class="audit">
            Audit first            
          </h1>
          <h1 class="auidit-next"> We follow the customer's</h1>
        </div>


        <div class="moshni-4">

          <h1 class="federal">
            <br><br><br>Experience of federal <br> projects
          </h1>
          <h1 class="federal-item"> Double growtg projects</h1>
          <img class="uch" src="../../../assets/images/photo_2024-01-13_14-13-55-PhotoRoom.png-PhotoRoom.png">
        </div>


</div>