
.bir{
    margin-top: 50px;
    margin-left: 200px;
    width: 25px !important;
}

hr{
    border-top: 4px solid rgb(66, 63, 63);
    margin-left: 200px;
    margin-right: 200px;
    height: 2px;
}

.h-tag3{

    margin-left: 200px;
    color: rgb(145, 144, 144);
}

.h1-tag{
    margin-top: 20px;
    margin-left: 200px;
    font-size: 42px;
    color: white;
}

.from{
    
    font-style: normal;
    color:#848484;
  

}


.h-lorem{
    margin-left: 200px;
    color: rgb(113, 111, 111);
}

.moshni{
    width: 400px;
    height: 220px;
    margin-left: 500px;
    border-radius: 10px;
    margin-top: -100px;
    border :3px solid #2B2B2B;
}

.nolbir{
    width: 150px !important;
    margin-left: 220px;

}

.audit{
    color: white !important;
    margin-top: 20px;
    padding-left: 30px !important;


}


.auidit-next{
    color:#848484;
    margin-left: 30px;
}


.moshni-1{
    width: 400px !important;
    height: 220px !important;
    margin-left: 910px;
    border-radius: 10px;
    margin-top: -220px;
    background-color: #1c1b1b;
}

.federal{
    color: white !important;
    margin-left: 20px;
    margin-top: -30px !important;  
    
}

.federal-item{
    margin-top: 20px;
    color: #848484;
    margin-left: 20px;
}

.uch{
    width: 130px !important;
    margin-left: 230px;
    margin-top: -400px;
}


.moshni-2{
    width: 360px !important;
    height: 220px !important;
    margin-left: 200px;
    margin-bottom: 20px;
    border-radius: 10px;
    margin-top: 50px;
    background-color: #1c1b1b;
}

.moshni-3{
    width: 360px;
    height: 220px;
    margin-left: 575px;
    border-radius: 10px;
    margin-top: -240px;
    border :3px solid #2B2B2B;
}

.nolbir-1{
    width: 150px !important;
    margin-left: 200px;

}

.moshni-4{
    width: 360px !important;
    height: 220px !important;
    margin-left: 950px;
    margin-bottom: 20px;
    border-radius: 10px;
    margin-top: -220px;
    background-image: linear-gradient(to right top, #6ed3fd, #3bbfff, #23a8ff, #4c8dff, #7d6bf9) ;
}

.ikki{
    margin-left: 200px;
    width: 25px !important;
}

.ikki-img{

    width: 100%;
    margin-left: 20px !important;
    margin-top: -40px !important;


}


.raqam{
    margin-top: 100px;
}