<div class="main-div">
    <img class="images" src="../../../assets/images/subsreact.jpg" >
    <div class="div-image">

    </div>
    <div class="navbars">
        <app-navbar></app-navbar>
    </div>

    <div class="nimadur">
        <h1 class="homeh1">Home - Services - Situation centers</h1>
        <h1 class="creation">CREATION AND EQUIPMENT OF A SITUATION CENTER</h1>
        <p class="parags">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore 
            magna aliqua. Ut enim ad minim veniam
        </p>
        <button class="equipment">equipment</button>
        <button class="equipment1">equipment</button>
    </div>

    

    <app-numbers></app-numbers>


    
</div>

<app-footers></app-footers>