<div class="main-div">
    <img class="images" src="../../../assets/images/subsreact.jpg" >
    <div class="div-image">

    </div>
    <div class="navbars">
        <app-navbar></app-navbar>
    </div>

    <div class="nimadur">
        <h1 class="homeh1">Home - Services - Situation centers</h1>
        <h1 class="creation">CREATION AND EQUIPMENT OF A SITUATION CENTER</h1>
        <p class="parags">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore 
            magna aliqua. Ut enim ad minim veniam
        </p>
        <button class="equipment">equipment</button>
        <button class="equipment1">equipment</button>
    </div>

    

    <app-numbers></app-numbers>
    <br>
    <br>
    <hr>

    <br>

    <div>
        <img class="imagessss" src="../../../assets/images/rasm.jpg">
    </div>

    <br>
    <br>
    <br>
    <hr>

    <div>
        <h1 class="provide">We provide comprehensive equipment for situation centers</h1>
    </div>

    <div class="divsev">
        
        
        <div class="start">
            <p class="pargaesa"> As a rule, a modern situation center is a software and multimedia complex,
                which includes display surfaces (large-scale video walls, LCD panels, etc.),
                many operator workstations, a powerful server for storing the software
                necessary for the operation of the situation center provision,
                concentration of operational data, analytical tools.
            </p>
        </div>
        
        <div class="divdiv">
            <p class="pargaesa">
                The same applies to data transmission means, switching,
                and control facilities for the nodes of the Situation Center (SC), 
                from video cameras in monitored areas to generating reports for the 
                ultimate data recipient. In short, a situational center is a classical 
                comprehensive multimedia project consisting of several main high-tech components.
                The main task of a situational center is to monitor the state of an object according 
                to specified parameters, eliminate non-standard situations, prevent emergencies,
                and ultimately enhance the efficiency of object management.
                The situational center should allow for predicting scenario
                developments and formulating optimal decisions related to
                the functioning of the object.
            </p>
        </div>
    </div>

    <hr>

    <h1 class="completed">completed projects</h1>

    <div class="withdiv">
        <div >
            <img class="classer" src="../../../assets/images/Rectangle 67 (2).png">
            <h1 class="iphone">Corporate sector<a href=""><img class="tepaga" src="../assets/images/photo_2024-01-15_11-40-22-removebg-preview.png"></a></h1>
              
            <h1 class="ipsum">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</h1>
        </div>


        <div class="photos">
            <img class="classer" src="../../../assets/images/Rectangle 67 (3).png">
            <h1 class="iphone">Government agencies<a href=""><img class="tepaga" src="../assets/images/photo_2024-01-15_11-40-22-removebg-preview.png"></a></h1>
              
            <h1 class="ipsum">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</h1>
        </div>
    </div>
    <app-numbers></app-numbers>

    <div class="memory">
        <app-registr></app-registr>
    </div>

    
</div>

<app-footers></app-footers>