<div class="main-main">
    <img src="../assets/images/Main-Main.jpg">
    <div class="main-div">
      <app-navbar></app-navbar>
  
      <div>
        <div>
          <h2 class="h-tag">
            SYSTEM INTEGRATOR OF MULTIMEDIA SOLUTIONS
          </h2>
        </div>
  
        <div>
          <h1 class="h1-tag">
            IMPLEMENTATION OF MULTIMEDIA <br><br>
            REVIEW FOR CONFERENCES <br><br>
            HALLS
          </h1>
        </div>
  
        <div>
          <h3 class="h3-tag">
            Comprehensive equipment for conference rooms , situation <br>
            centers, meeting rooms, training centers, etc.
          </h3>
        </div>
  
        
        <div>
          <button class="button1">
  
            Discuss the project
  
          </button>
  
  
          
  
  
          <div class="search-div">
            <img class="icon-search" src="../assets/images/search-interface-symbol-removebg-preview.png">
            <input class="button2" placeholder="Search">
          </div>
  
  
        </div>
  
  
      </div>
  
      <a href="">
  
        <img class="next-icon" src="../assets/images/back-page-removebg-preview.png">
      </a>
      <a href="">
        <img class="next-icon2" src="../assets/images/nextpage-icon-removebg-preview.png">
      </a>
      <br>
      <br>
      <br>
      <br>
      <br>

      <hr>
      <br>
      
      
  
      <div style="height: 100%;">
  
  
       <div>
            <app-numbers></app-numbers>
  
            <br>
            <br>
            <br>
            <app-solutions></app-solutions>
  
            <br>
            <br>
            <br>        
  
            <app-russia></app-russia>
          
            <app-registr></app-registr> 
            
            <app-footers></app-footers>
          
            
          </div>
      </div>
    </div>
  </div>
  
  
  