<div class="footers">
    <br>
    <hr>
    <div>
        <img class="images-icon" src="../../../assets/images/icon-trader.png">
    </div>
    <div>
        <a href="http://localhost:4200/company">
            <h1 class="h1">About company</h1>
        </a>
        <a href="http://localhost:4200/contact">
            <h1 class="h2">Contacts</h1>
        </a>
        <h1 class="h2">Licenses</h1>
    </div>

    <div class="new">
        <h1 class="h3">Solutions</h1>
        <h1 class="h5">Situation center</h1>
        <h1 class="h5">Control room</h1>
        <h1 class="h5">Meeting room</h1>
        <h1 class="h5">Conference hall</h1>
        <h1 class="h5">The meeting room</h1>
        <h1 class="h5">Video conferencing</h1>
        <h1 class="h5">Head office</h1>
        <h1 class="h5">Digital Signage</h1>
        <h1 class="h5">Media facades</h1>
        <h1 class="h5">Classrooms</h1>
    </div>

    <div class="new1">
        <h1 class="h3">Industries</h1>
        <h1 class="h5">Corporate sector</h1>
        <h1 class="h5">Government agencies</h1>
        <h1 class="h5">Medical institutions</h1>
        <h1 class="h5">Education and science</h1>
        <h1 class="h5">Sports and fitness centers, stadiums</h1>
        <h1 class="h5">Financial sector</h1>
        <h1 class="h5">Hotel complexes</h1>
        <h1 class="h5">Transport</h1>
        <h1 class="h5">Shopping centers</h1>
        <h1 class="h5">Clubs, bars, restaurants</h1>
        <h1 class="h5">Cultural and art institutions</h1>
        <h1 class="h5">Industrial enterprises</h1>
    </div>

    <div class="new2">
        <h1 class="h3">{{data.phoneNumber}}</h1>
        <h1 class="h4">{{data.email}}</h1>
        <a href="https://t.me/murodovich_n1"><img class="Telegram" src="../../../assets/images/telegram.png"></a>
        <a href="https://www.instagram.com/murodovich_n1/"><img class="Telegram1"
                src="../../../assets/images/instagram (1).png"></a>
        <a href="https://www.linkedin.com/in/murodovich/"><img class="Telegram1"
                src="../../../assets/images/linkedin.png"></a>
        <h1 class="h6">Main office</h1>
        <h1 class="h4">{{data.city}}</h1>
        <button class="button1">There are still questions</button>

    </div>


</div>