.asosiy{
    height: 100% !important;
}

.images{
   height: 80%;
}

hr{
    border-top: 4px solid rgb(5, 4, 4);
    margin-left: 150px;
    margin-right: 150px;
    margin-top: -700px;
    height: 2px;
}