<div>
    <img class="images" src="../../assets/images/Rectangle 85.png">
    <hr>
    <h1 class="nol4">04</h1>
    <div>
        <h1 class="calculat">CALCULATE <br>
            THE PROJECT COST
        </h1>
        <h3 class="defination">
            Leave a request and attach a file form with<br>
            technical specifications to evaluate your project.
        </h3>
    </div>

    
    
    <div class="registr-dev">
        <div class="search-div">
            <input class="button2" placeholder="YOUR NAME">
        </div>

        <div class="search-div">
            <input class="button3" placeholder="+998(95)-094-03-03">
        </div>

        <div class="search-div">
            <input class="button4" placeholder="YOUR EMAIL">
        </div>

        <div>
            <h2 class="file">Attach files with technical <br> specifications (optional)</h2>
        </div>

        <div>
            <button class="">Download files</button>
        </div>
    </div>


        
    

    

</div>
