.asosiy{
    height: 100% !important;
}

.images{
   width: 100% !important;
}

hr{
    border-top: 4px solid rgb(5, 4, 4);
    margin-left: 150px;
    margin-right: 150px;
    margin-top: -700px;
    height: 2px;
}

.nol4{
    margin-left: 180px;
    font-style:bold !important;  
    font-size: 28px;
    color: rgb(52, 50, 50);
}

.calculat{
    color: white !important;
    font-size: 60px !important;
    line-height: 65px;
    margin-left: 200px;
    margin-top: 270px;
}

.defination{
    margin-left: 220px !important;
    color: darkgrey;
}

.registr-dev{
    width: 520px !important;
    height: 530px !important;
    margin-top: -450px;
    margin-left: 850px;
    border-radius: 20px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.20);
    backdrop-filter: blur(10px);
}

.search-div{

    display: inline;
}



.button2{
    margin-top: 50px;
    margin-left: 60px;
    border-radius: 10px; 
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding: 10px 30px;
    color: white;
    background: transparent;
    border :3px solid rgb(54, 53, 53);
    
    width: 400px;
    height: 70px;

}


.button3{color: white;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 60px;
    border-radius: 10px; 
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding: 10px 30px;
    color: white;
    background: transparent;
    border :3px solid rgb(54, 53, 53);
    color: white;
    font-size: 20px;
    width: 400px;
    height: 70px;
}

.button4{
    margin-top: 10px;
    margin-left: 60px;
    border-radius: 10px; 
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding: 10px 30px;
    color: white;
    background: transparent;
    border :3px solid rgb(54, 53, 53);
    color: white;
    font-size: 20px;
    width: 400px;
    height: 70px;
}

.file{
    color: #FFF;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 60px;
    margin-top: 30px;
}

.FileDownload{
    width: 151px;
    height: 39px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #FFF;
    background: transparent;
    margin-left:60px;
    color: #FFF;
}
.Calculate{
    display: inline-flex;
    padding: 21px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 7px;
    background: linear-gradient(94deg, #6DDCFF -74.85%, #7F60F9 197.71%);
    color: #FFF;
    text-align: center;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 200px;
    margin-left: 60px;
    margin-top: 40px;
}

.file1{
    color: #FFF;
    font-family: Gilroy;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.3;
    text-decoration-line: underline;
    margin-left: 300px;
    margin-top: -50px;
}