.russia{
    color: white;
    margin-left: 200px;
}
.Find{
    color: white !important;
    margin-left: 200px !important;
    font-size: 60px;
    line-height: 65px;

}

hr{
    border-top: 4px solid rgb(66, 63, 63);
    margin-left: 200px;
    margin-right: 200px;
    height: 2px;
}
.russia-1{
    color: #3E3E3E;
}
.solution{
    color:#4c8dff;
}
.bir-1{
    margin-left: 200px;
    width: 35px !important;

}

.russiya-map{
    width: 800px !important;
    margin-left: 670px;
    margin-top: -230px;
    height: 400px;
}

.location-1{
    width: 30px;
    margin-left: -770px;
    margin-top: -100px;
}

.location-2{
    width: 30px;
    margin-left: 10px;
    margin-top: -60px;
}

.location-3{
    width: 30px;
    margin-left: 100px;
    margin-top: -70px;
}

.location-4{
    width: 30px;
    margin-left: 30px;
    margin-top: -100px;
}

.location-5{
    width: 30px;
    margin-left: 30px;
    margin-top: 10px;
}

.location-6{
    width: 30px;
    margin-left: 50px;
    margin-top: -50px;
}

.location-7{
    width: 30px;
    margin-left: 70px;
    margin-top: -70px;
}


.button-1{
    margin-left: 250px;
    margin-top: -400px !important;
    border-radius: 50px;
    width: 400px;
    font-size: 24px;
    height: 70px;
    color: white;
    border :3px solid gray;
    background-color: black;
}


.text{

    color: gray;

}
