.russia{
    color: white;
    margin-left: 200px;
}
.Find{
    color: white !important;
    margin-left: 200px !important;
    font-size: 60px;
    line-height: 65px;

}

hr{
    border-top: 4px solid rgb(66, 63, 63);
    margin-left: 200px;
    margin-right: 200px;
    height: 2px;
}
.russia-1{
    color: #3E3E3E;
}
.solution{
    color:#4c8dff;
}
.bir-1{
    margin-left: 200px;
    width: 35px !important;

}

.russiya-map{
    width: 800px !important;
    margin-left: 670px;
    margin-top: -230px;
    height: 400px;
}